ul {
    /* background: rgba(255,255,255,0.5); */
    display: flex;
    flex-direction: row;
    border: so  

li {
    padding: 1em;
    list-style: none;


}

body {
    font-size:large;
    3
}


input {                                                                    




    font-size:2em;



}
